<div>
    <header id="header" class="txt_center">
        <h1>SAV BELLOW</h1>
        <p>astrology or some shit idk</p>
    </header>
    <main>
        <div>
            <h2>SOME STUFF</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum aliquam beatae veritatis sint numquam vitae laborum iure, nihil iste, architecto odio veniam, natus doloremque! Eos nam cumque earum at quas, quis ab, debitis ducimus provident dolorum, ratione neque culpa accusamus?</p>
        </div>
    </main>
    <footer>
        <p>footer stuff</p>
        <p>tern up</p>
    </footer>
</div>